:root {
  --color1: #1d1e1f;
  --color2: #282b2e;
  --color3: #35393d;
  --color4: #3e4954;
  --color5: #455566;
  --color6: #c7e0de;
  --color7: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    background: linear-gradient(var(--color1) 25%,var(--color2),var(--color3),var(--color4));
    font-size: 100%;
  }

  body {
    color: var(--color6);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  }
  nav > ul > li > a {
    color: var(--color6);
    display: flex;
    justify-content: end;
    align-items: stretch;
  }
    
  nav {
    background-color: var(--color5);
    display: flex;
    justify-content: space-evenly;
  }

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    color: var(--color7); 
  }
  
section {
  margin: 25px 25px;
}
#timeline li {
  padding: 0 15px 0 15px;
}
#tribute-info p {
  margin: 10px 0 10px 0;
}



 .hero-img {
    width: 100%;  
  }

  #img-caption {
    font-size: 1rem;
    margin: 15px 15px 2px 15px;
    display: flex;
    justify-content: center;
  }
  li {
    margin: 10px 0;
    list-style-type: None;
  }

  footer {
    text-align: center;
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }