:root {
  --color1: #1d1e1f;
  --color2: #282b2e;
  --color3: #35393d;
  --color4: #3e4954;
  --color5: #455566;
  --color6: #c7e0de;
}

html {
    background: linear-gradient(var(--color1),var(--color2),var(--color3),var(--color4));
  }

  body {
    color: var(--color6);
  }
  
  #title {
    font-size: 2rem;
    font: Arial, sans-serif;
    background: var(--color5);
    text-align: left;
    padding: 2rem;
    border-radius: 3%;
  }
  
  p.headline {
    font-size: 1.3rem;
    font: Arial, sans-serif;
    color: var(--color2);
    
  }
  
  #tribute-info {
    font-style: italic;
    font-size: 1.2rem;
  }
  
  #image {
    display: block;
    max-width: 100%;
    border-radius: 3%;
  }

  
  #img-caption {
    font-size: 1rem;
    margin: 15px 0 2px 0;
  }
  li {
    margin: 10px 0;
  }

  footer {
    text-align: center;
    font-size: 1rem;

  }